<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test Automation" verbose="1" >
    <test name="Functional Testing">
       <classes>
<!--           <class name="practical.TestNGExample" />-->
           <class name="TestNGTutorial.Day1" />
           <class name="TestNGTutorial.Day2" />
           <class name="TestNGTutorial.VerifySignup" >
               <methods>
                   <exclude name="WebSignUp" />
                   <exclude name="MobileSignUp" />
               </methods>
           </class>
       </classes>
    </test>

    <test name="Regression Testing">
        <classes>
            <class name="TestNGTutorial.VerifyLogin">
                <methods>
                    <include name="WebLogin" />
                    <include name="LoginViaAPI" />
                </methods>
            </class>
        </classes>
    </test>
</suite>